@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

header {
    background-color: rgb(226, 0, 0);
    display: flex;
    align-items: center;
    position: fixed;
    width: 100vw;
    box-shadow: 0px 0px 10px rgb(41 2 2 / 20%);
}

.logo {
    margin-left: 1.5vh;
    width: 12vh;
    height: 12vh;
    border-radius: 100%;
}

.logo-texto {
    font-family: 'Audiowide';
    font-size: 5vh;
    color: white;
    margin-left: 1vw;
    margin-right: 30vw;
}

header nav a {
    align-items: center;
    padding-left: 15vh;
    text-decoration: none;
    color: white;
    font-family: 'Audiowide';
    font-size: 3vh;
}

.rastrear-botao {
    background-color: #ff4545;
    color: white;
    border-radius: 5vh;
    padding: 1vh 2vh;
    font-family: 'Audiowide';
    font-size: 3vh;
    text-decoration: none;
    margin-left: 10vh;
    box-shadow: 7px 7px 8px rgb(41 2 2 / 20%);
    transition: 0.5s;
}

.rastrear-botao:hover {
    background-color: white;
    color: red;
    transition: 0.5s;
    box-shadow: 7px 7px 8px rgb(41 2 2 / 50%);
}

.banner {
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    padding-top: 12vh;
    height: 88vh;

    display: flex;
    justify-content: center;
}

.banner-texto {
    margin-top: 18vh;
    text-align: center;
    width: 40vw;
    color: white;

}

.banner-texto h1 {
    font-family: 'Audiowide';
    font-size: 10vh;
}

.banner-texto p {
    font-size: 4vh;
    margin: 3vh 0 5vh;
}

.cardapio-botao {
    background-color: white;
    color: red;
    border-radius: 5vh;
    padding: 1vh 2vh;
    font-family: 'Audiowide';
    font-size: 4vh;
    text-decoration: none;
    box-shadow: 7px 7px 8px rgb(41 2 2 / 20%);
    transition: 0.5s;
}

.cardapio-botao:hover {
    background-color: #ff4545;
    color: white;
    transition: 0.5s;
    box-shadow: 7px 7px 8px rgb(41 2 2 / 50%);
}

.cardapio {
    padding: 5vh 5vh 5vh 0;
    text-align: center;
}

.cardapio div {
    display: inline-block;
    display: inline-block;
    margin: 0 1vw;
    padding: 5vh 0;
    width: 20vw;

}


.cardapio-texto {
    padding-right: 5vh;
}

.cardapio-texto h2 {
    font-family: 'Audiowide';
    font-size: 5vh;
    color: black;
    text-align: center;
    margin-bottom: 5vh;
}

.cardapio-produtos {
    background-color: rgb(255, 223, 223);
    border-radius: 3vh;
    transition: 0.5s;}

.cardapio-produtos:hover {
    background-color: #e47575;
    box-shadow: 7px 7px 8px rgb(41 2 2 / 20%);
    transform: scale(1.1);
    transition: 0.5s;
}

.cardapio-produtos:hover h3 {
    color: white;
    transition: 0.5s;
}

.cardapio-produtos:hover a {
    background-color: white;
    color: red;
    transition: 0.5s;
}

.cardapio div img {
    width: 15vw;
    height: 15vw;
    border-radius: 100%;
    display: block;
    margin: 5vh auto;
    box-shadow: 4px 5px 2px 0 rgb(41 2 2 / 20%);
}


.cardapio div h3 {
    font-size: 4vh;
    color: black;
    transition: 0.5s;
}

.cardapio div a {
    text-decoration: none;
    color: white;
    font-size: 3vh;
    background-color: #ff4545;
    padding: 1vh 2vh;
    border-radius: 5vh;
    box-shadow: 7px 7px 8px rgb(41 2 2 / 20%);
    transition: 0.5s;
}